.author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
}

.author .author-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 38%;
}

.author .author-info .author-image {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background: url('../images/author.png');
}

.author h4 {
  margin: 0;
  color: #394149;
  opacity: 0.87;
  line-height: 32px;
  font-weight: 400;
}
