.blog-section {
  height: 820px;
  padding: 96px 0;
  background: #dceaf5;
}

.blog-section .container {
  height: 100%;
}

.blog-section h2 {
  height: 10%;
  color: #0d1317;
}

.blog-section .articles {
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog-section article {
  max-width: 30%;
  min-width: 200px;
  background-color: white;
  border-radius: 20px;
}

.blog-section article img {
  border-radius: 20px 20px 0 0;
  width: 100%;
}

.blog-section article .content {
  height: 55%;
  padding: 32px;
  justify-content: space-around;
}

.blog-section article .content h3 {
  color: #0d1317;
}

.blog-section article .content p {
  font-size: 16px;
  line-height: 28px;
}

.blog-section article .content a {
  color: #f58a07;
}

.blog-section article .content a:hover {
  color: #1d3444;
}
.blog-section article .content a::after {
  content: '\2192';
  margin-left: 8px;
}
