.blog-section {
  background-color: #dceaf5;
  padding: 96px 0;
  height: 820px;
}

.blog-section .container {
  height: 100%;
}

.blog-section .articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 85%;
}

.blog-section .articles article {
  max-width: 30%;
  min-width: 200px;
  height: 100%;
  background-color: white;
  border-radius: 20px;
}

.blog-section .articles .content {
  padding: 32px;
  height: 60%;
}

.blog-section .articles img {
  border-radius: 20px 20px 0 0;
}

.blog-section .articles h3 {
  color: #0d1317;
}

.blog-section .articles p {
  font-size: 16px;
  line-height: 28px;
}

.blog-section .articles a {
  color: #f58a07;
}

.blog-section .articles a:hover {
  color: #1d3444;
}

.blog-section .articles a::after {
  content: "\2192";
  margin-left: 8px;
}
