.blog-inner {
  margin: 110px 0;
}

.blog-inner img {
  width: 100%;
  border-radius: 20px;
}

.blog-inner .content {
  padding: 0 264px;
}

.blog-inner .content h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -0.03em;
  margin-top: 24px;
  margin-bottom: 32px;
}

.blog-inner .content h2 {
  margin-top: 24px;
  margin-bottom: 24px;
  color: #0d1317;
}

.blog-inner .content p {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 28px;
}

.author {
  margin-top: 80px;
}
