/* Blog Header Styles */
.blog-header {
  padding: 128px 0;
  height: 750px;
  background: #dceaf5;
}

.blog-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.blog-header .text,
.blog-header .image {
  width: 45%;
}

.blog-header .text {
  height: 100%;
  justify-content: space-around;
}

.blog-header .text a {
  color: #f58a07;
}

.blog-header .text a:hover {
  color: #1d3444;
}

.blog-header .text a::after {
  content: "\2192";
  margin-left: 8px;
}

.blog-header .image {
  height: 495px;
  background: url("../images/blog-head.png");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

/* Blog Section Styles */
.blog-section {
  background-color: white;
  margin: 128px auto;
  height: 1430px;
}

.blog-section h2 {
  height: 10%;
}

.blog-section .articles {
  height: 90%;
  align-content: space-between;
}

.blog-section .articles article {
  background-color: #edf7ff;
  height: 47%;
}

.blog-section .articles article:hover {
  background-color: #dceaf5;
}
