.blog-inner {
  margin: 110px 0;
  height: 2055px;
}

.blog-inner .container {
  height: 100%;
}

.blog-inner img {
  width: 100%;
  border-radius: 20px;
}

.blog-inner .content {
  padding: 0 264px;
  height: 67%;
  justify-content: space-evenly;
}

.blog-inner .content p {
  font-size: 16px;
  line-height: 28px;
}

.author {
  width: 57%;
}
