/* Blog Header Styles */
.blog-header {
  padding: 128px 0;
  background: #dceaf5;
}

.blog-header .container {
  display: flex;
  align-items: center;
  gap: 102px;
}

.blog-header .text,
.blog-header .image {
  width: 49%;
}

.blog-header .text h2 {
  font-size: 64px;
  line-height: 72px;
  margin-bottom: 24px;
}

.blog-header .text p {
  margin-bottom: 24px;
}

.blog-header .text a {
  color: #f58a07;
}

.blog-header .text a:hover {
  color: #1d3444;
}

.blog-header .text a::after {
  content: '\2192';
  margin-left: 8px;
}

.blog-header .image {
  height: 495px;
  background: url('../images/blog-head.png');
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

/* Blog Section Styles */
.blog-section {
  padding: 128px 0;
  background-color: white;
}

.blog-section .articles article {
  background-color: #edf7ff;
}
