/* Header Styles */
.career-header {
  margin-top: 108px;
  margin-bottom: 64px;
}

.career-header h2 {
  margin-bottom: 64px;
  font-size: 64px;
  line-height: 72px;
}

.career-header .job-desc {
  display: flex;
  justify-content: space-between;
}

.career-header .job-desc .job-left {
  width: 60%;
}

.career-header .job-desc .job-right {
  width: 30%;
}

.career-header .job-desc h3 {
  margin-bottom: 16px;
  color: #0d1317;
}

.career-header .job-desc p {
  width: 84%;
}

/* Career Details */
.career-details .container {
  background-color: rgba(193, 228, 255, 0.3);
  border-radius: 20px;
  padding: 68px 150px 68px 68px;
  display: flex;
  justify-content: space-between;
}

.career-details ul {
  margin-top: 4px;
  width: 30%;
}

.career-details ul li {
  margin-bottom: 40px;
  color: #0d1317;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.03em;
}

.career-details ul .active {
  color: #f58a07;
  font-weight: 600;
}

.career-details .details {
  width: 90%;
}

.career-details .details p {
  font-size: 16px;
  line-height: 28px;
}

/* Apply Section Styles */
.apply {
  padding: 128px 0;
}

.apply h2 {
  margin-bottom: 51px;
  color: #0d1317;
}

.apply form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.apply form input {
  width: 49%;
  margin-bottom: 24px;
  border: none;
  background-color: rgba(210, 218, 237, 0.17);
  border-radius: 27px;
  padding: 18px 32px;
}

.apply form input::placeholder,
.apply form textarea::placeholder {
  color: #9c9c9c;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.apply form input:nth-child(3)::placeholder {
  font-style: italic;
}

.apply form textarea {
  width: 100%;
  height: 215px;
  margin-bottom: 32px;
  border: none;
  background-color: rgba(210, 218, 237, 0.17);
  border-radius: 27px;
  padding: 29px 32px;
  resize: none;
}

.apply form .primary-button {
  border-radius: 31px;
}
