/* Header Section Styles */
.careers-header {
  padding-top: 110px;
  padding-bottom: 127px;
}

.careers-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.careers-header .container .text {
  width: 50%;
}

.careers-header .container .text h2 {
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -0.03em;
  margin-top: 0;
  margin-bottom: 24px;
}

.careers-header .container .text p {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #5b5b5b;
  margin-top: 0;
  margin-bottom: 24px;
}

.careers-header .container .text .primary-button {
  display: inline-block;
}

.careers-header .container .image {
  width: 47%;
  height: 650px;
  background: url('../images/career-header.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  background-position: center;
}

.careers-header .container .image .overlay {
  width: 25%;
  height: 100%;
  background-color: #f58a07;
  border-radius: 20px 0 0 20px;
  mix-blend-mode: multiply;
}

/* Careers Section Styles */
.careers {
  padding-bottom: 128px;
}

.careers .container h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  margin-top: 0;
  margin-bottom: 64px;
}

.careers .container .positions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.careers .container .positions article {
  width: 31%;
  background-color: rgba(193, 228, 255, 0.3);
  border-radius: 20px;
  margin-bottom: 40px;
  padding: 32px 40px;
}

.careers .container .positions article h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.03em;
  margin-top: 0;
  margin-bottom: 8px;
}

.careers .container .positions article p {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: #394149;
  opacity: 0.6;
  margin-top: 0;
  margin-bottom: 32px;
}

.careers .container .positions article > a {
  font-size: 18px;
  font-weight: 400;
  line-height: 19px;
  color: #f58a07;
}
