/* Header Section Styles */
.careers-header {
  padding-top: 110px;
  padding-bottom: 127px;
}

.careers-header .container {
  display: flex;
  align-items: center;
  gap: 46px;
}

.careers-header .text,
.careers-header .image {
  width: 49%;
}

.careers-header .text h1 {
  margin-bottom: 24px;
}

.careers-header .text p {
  margin-bottom: 24px;
}

.careers-header .image {
  height: 650px;
  background: url('../images/career-header.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  background-position: center;
}

.image .overlay {
  width: 25%;
  height: 100%;
  background-color: #f58a07;
  border-radius: 20px 0 0 20px;
  mix-blend-mode: multiply;
}

/* Careers Section Styles */
.careers {
  padding-bottom: 128px;
}

.careers h2 {
  margin-bottom: 64px;
}

.careers .positions {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.careers .positions article {
  width: 31%;
  background-color: rgba(193, 228, 255, 0.3);
  border-radius: 20px;
  padding: 32px 40px;
}

.careers .positions article h3 {
  margin-bottom: 8px;
}

.careers .positions article p {
  color: #394149;
  opacity: 0.6;
  margin-bottom: 32px;
}

.careers .positions article a {
  font-size: 18px;
  font-weight: 400;
  color: #f58a07;
}

.careers .positions article a:hover {
  color: #1d3444;
}
