/* Header Styles */
.contact-header {
  margin-top: 108px;
  margin-bottom: 64px;
  display: flex;
  justify-content: space-between;
  height: 182px;
}

.contact-header .left,
.contact-header .right {
  width: 45%;
  height: 100%;
}

.contact-header .right {
  display: flex;
  justify-content: space-between;
}

.contact-header .right .contact {
  width: 40%;
  height: 70%;
  justify-content: space-evenly;
}

.contact-header .right .location {
  width: 50%;
  height: 70%;
  justify-content: space-evenly;
}

.contact-header .right h3 {
  color: #0d1317;
}

.contact-header .right ul {
  display: flex;
  flex-direction: column;
}

.contact-header .right ul li {
  color: #5b5b5b;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

/* Contact Section Styles */
.contact-section {
  margin-bottom: 128px;
  height: 456px;
  display: flex;
  justify-content: space-between;
}

.contact-section form,
.contact-section .map {
  width: 48%;
  height: 100%;
}

.contact-section form {
  justify-content: space-between;
}

.contact-section form input {
  border: none;
  padding: 18px 32px;
  background-color: rgba(210, 218, 237, 0.17);
  border-radius: 27px;
}

.contact-section form textarea {
  height: 160px;
  resize: none;
  padding: 32px;
  border: none;
  background-color: rgba(210, 218, 237, 0.17);
  border-radius: 27px;
}

.contact-section form input::placeholder,
.contact-section form textarea::placeholder {
  color: #9c9c9c;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 19px;
}

.contact-section .primary-button {
  align-self: start;
}

.contact-section .map iframe {
  width: 100%;
  border-radius: 20px;
  height: 370px;
}
