footer {
  height: 465px;
  padding: 80px 0;
  background: #063255;
  color: white;
  position: relative;
}

footer .shape-1 {
  position: absolute;
  background-color: #f58a07;
  width: 53px;
  height: 144px;
  border-top-right-radius: 20px;
  bottom: 0;
}

footer .shape-2 {
  position: absolute;
  background-color: #f58a07;
  width: 53px;
  height: 287px;
  border-radius: 20px 0 0 20px;
  top: 38px;
  right: 0;
}

footer a,
footer p {
  color: white;
}

footer a:hover {
  color: #f58a07;
}

footer .container {
  height: 100%;
}

footer .top {
  height: 75%;
  display: flex;
  justify-content: space-between;
}

footer .top .left {
  height: 100%;
  width: 30%;
}

footer .top .left h2 {
  font-size: 36px;
  line-height: 44px;
}

footer .top .left h3 {
  font-weight: 600;
  font-size: 28px;
}

footer .top .socials {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

footer .top .socials img {
  width: 20px;
  height: 20px;
}

footer .top .socials img:hover {
  transform: scale(1.1);
}

footer .top .company {
  width: 15%;
  height: 100%;
}

footer .top .company h3,
footer .top .connect h3,
footer .top .subscribe h3 {
  height: 15%;
  font-size: 18px;
  font-weight: 600;
}

footer .top .company ul {
  height: 80%;
  justify-content: space-evenly;
}

footer .top .company ul li a,
footer .top .connect ul li {
  font-size: 16px;
  font-weight: 500;
}

footer .top .connect {
  height: 55%;
  width: 15%;
}

footer .top .connect ul {
  height: 50%;
}

footer .top .subscribe {
  width: 25%;
  height: 90%;
}

footer .top .subscribe .content {
  height: 80%;
  justify-content: space-around;
}

footer .top .subscribe input {
  padding: 18px 32px;
  border: none;
  border-radius: 31px;
}

footer .top .subscribe input::placeholder {
  color: #9c9c9c;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

footer .top .primary-button {
  align-self: flex-start;
}

footer .bottom {
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

footer .bottom ul {
  display: flex;
  justify-content: space-between;
  width: 23%;
}

footer .bottom p {
  font-size: 16px;
}
