/* Hero Section Styles */
.hero {
  background-color: #dceaf5;
  height: 700px;
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.hero .content {
  width: 48%;
}

.hero .content h2 {
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.03em;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 0;
}

.hero .content p {
  color: #5b5b5b;
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 500;
  line-height: 30px;
  font-size: 18px;
}

.hero .content .buttons {
  display: flex;
  width: 65%;
  justify-content: space-between;
  margin-bottom: 55px;
}

.hero .content .logos .logo-title {
  font-weight: 400;
  font-size: 18px;
  color: rgba(57, 65, 73, 0.5);
  margin-bottom: 18px;
}

.hero .content .logos img {
  margin-right: 45px;
}

.hero .image {
  width: 52%;
  align-self: end;
}

.hero .image img {
  width: 100%;
  margin-bottom: -6px;
}

/* Help Section Styles */
.help {
  padding: 96px 0;
}

.help .container h2 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.help .container p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 30px;
  color: #5b5b5b;
  width: 55%;
  margin-top: 27px;
  margin-bottom: 60px;
}

.help .container .articles {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.help .container .articles article {
  width: 31%;
}

.help .container .articles article img {
  width: 100%;
  border-radius: 20px;
}

.help .container .articles article h3 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 25.56px;
  letter-spacing: -0.03em;
  margin-top: 33px;
  margin-bottom: 17px;
}

.help .container .articles article p {
  font-weight: 500;
  line-height: 28px;
  color: #5b5b5b;
  margin-top: 0;
  margin-bottom: 24px;
  width: 100%;
}

.help .container .articles article a {
  font-weight: 500;
  line-height: 17px;
  color: #f58a07;
}

.help .container .articles article a::after {
  content: '\2192';
  margin-left: 8px;
  font-size: 18px;
}

/* Feature Section Styles */
.feature {
  background-color: #edf7ff;
  padding: 96px 0;
}

.feature .titles {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.feature .titles h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.03em;
  width: 46%;
  margin-top: 0;
  margin-bottom: 0;
}

.feature .titles p {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.feature .feature-cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.feature .feature-cards .card {
  background-color: white;
  border-radius: 20px;
  width: 31%;
  padding: 35px;
}

.feature .feature-cards .card h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.03em;
}

.feature .feature-cards .card p {
  font-weight: 500;
  line-height: 28px;
}

/* About Section Styles */
.about {
  padding: 96px 0;
}

.about .container {
  display: flex;
  justify-content: space-between;
  /* margin: 96px auto;  */
}

.about .container .text {
  width: 47%;
}

.about .container .image {
  background: url('../images/about-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  width: 47%;
  height: 670px;
}

.about .container .image .overlay {
  background-color: #f58a07;
  mix-blend-mode: multiply;
  height: 100%;
  width: 25%;
  border-radius: 20px 0 0 20px;
}

.about .container .text h2 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  margin-top: 67px;
  margin-bottom: 32px;
}

.about .container .text p {
  width: 86%;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #5b5b5b;
  margin-bottom: 48px;
  margin-top: 0;
}

.about .container .text .about-features {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.about .container .text .about-features article {
  width: 45%;
}

.about .container .text .about-features article h2 {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: #f58a07;
}

.about .container .text .about-features article h3 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.03em;
}

.about .container .text .about-features article p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 28px;
  color: #5b5b5b;
  width: 100%;
}

/* Service Section Styles */
.service {
  padding-bottom: 128px;
}

.service .container {
  background-color: #edf7ff;
  border-radius: 20px;
  padding: 48px;
  position: relative;
}

.service .container .ribbon {
  position: absolute;
  top: -15px;
  right: -15px;
}

.service .container .tabs {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-bottom: 80px;
}

.service .container .tabs .tab {
  padding: 8px 24px;
  border: 1px solid #a8bccc;
  border-radius: 31px;
  color: rgba(6, 50, 85, 0.3);
  font-weight: 600;
  line-height: 24px;
}

.service .container .tabs .active {
  color: #f58a07;
  background-color: white;
  border: none;
}

.service .container .content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.service .container .content .text,
.service .container .content .image {
  width: 45%;
}

.service .container .content .text h2 {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 3rem;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
}

.service .container .content .text p {
  margin-top: 0;
  margin-bottom: 40px;
  color: #5b5b5b;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  width: 95%;
}

.service .container .content .text a {
  color: #f58a07;
  font-weight: 500;
}

.service .container .content .text a::after {
  content: '\2192';
  margin-left: 8px;
  font-size: 18px;
}

.service .container .content .image {
  background: url('../images/team.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 472px;
  border-radius: 20px;
}

.service .container .content .image .overlay {
  width: 25%;
  height: 100%;
  background-color: #f58a07;
  mix-blend-mode: multiply;
  border-radius: 20px 0 0 20px;
}

/* CTA Section Styles */
.cta {
  display: flex;
}

.cta .image {
  width: 50%;
  background: url('../images/experience-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 530px;
}

.cta .text {
  width: 50%;
  padding: 128px;
  background-color: #f58a07;
}

.cta .text h2 {
  margin-top: 0;
  margin-bottom: 40px;
  color: white;
  font-size: 3rem;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  width: 95%;
}

.cta .text .secondary-button {
  display: inline-block;
}
