/* Services Header Styles */

.services-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 650px;
  margin-top: 108px;
  margin-bottom: 90px;
}

.services-header .text,
.services-header .image {
  width: 45%;
}

.services-header .text {
  height: 80%;
  justify-content: space-evenly;
}

.services-header .primary-button {
  align-self: start;
}

.services-header .image {
  background: url('../images/services-header.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  height: 650px;
}

.image .overlay {
  background-color: #f58a07;
  width: 25%;
  height: 100%;
  border-radius: 20px 0 0 20px;
  mix-blend-mode: multiply;
}

/* Service Feature Styles */
.service-features {
  height: 3263px;
}

.service-features article {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service-features article .text,
.service-features article .image {
  width: 45%;
}

.service-features article .text {
  height: 70%;
  justify-content: space-evenly;
}

.service-features article .image {
  height: 550px;
  border-radius: 20px;
  position: relative;
}

.service-features article .text ul {
  height: 25%;
}

.service-features article .text ul li {
  color: #5b5b5b;
  font-weight: 500;
  line-height: 28px;
}

.service-features article .image .shape {
  width: 95px;
  height: 97px;
  background-color: #f58a07;
  border-radius: 20px;
  position: absolute;
  mix-blend-mode: multiply;
}

.service-features article:nth-child(odd) .image .shape {
  top: 128px;
  left: -48px;
}

.service-features article:nth-child(even) .image .shape {
  top: 272px;
  right: -48px;
}

.service-features article .image {
  background-repeat: no-repeat;
  background-size: cover;
}

.service-features article:first-child .image {
  background: url('../images/services-feature-1.png');
}

.service-features article:nth-child(2) .image {
  background: url('../images/services-feature-2.png');
}

.service-features article:nth-child(3) .image {
  background: url('../images/services-feature-3.png');
}

.service-features article:nth-child(4) .image {
  background: url('../images/services-feature-4.png');
}

.service-features article:last-child .image {
  background: url('../images/services-feature-5.png');
}
