/* Services Header Styles */

.services-header {
  padding-top: 108px;
  padding-bottom: 90px;
}

.services-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services-header .text,
.services-header .image {
  width: 50%;
}

.services-header .text h2 {
  margin-bottom: 24px;
  font-size: 64px;
  line-height: 72px;
}

.services-header .text p {
  margin-bottom: 32px;
  width: 90%;
}

.services-header .image {
  background: url('../images/services-header.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  height: 650px;
}

.services-header .image .overlay {
  background-color: #f58a07;
  width: 25%;
  height: 100%;
  border-radius: 20px 0 0 20px;
  mix-blend-mode: multiply;
}

/* Service Feature Styles */
.service-features article {
  margin-bottom: 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-features article .text,
.service-features article .image {
  width: 48%;
}

.service-features article .image {
  height: 550px;
  border-radius: 20px;
  position: relative;
}

.service-features article:last-child {
  margin-bottom: 0;
}

.service-features article .text h2 {
  margin-bottom: 24px;
}

.service-features article .text p {
  margin-bottom: 24px;
  width: 90%;
}

.service-features article .text ul li {
  margin-bottom: 8px;
  color: #5b5b5b;
  font-weight: 500;
  line-height: 28px;
}

.service-features article:nth-child(odd) .image .shape {
  width: 95px;
  height: 97px;
  background-color: #f58a07;
  border-radius: 20px;
  position: absolute;
  top: 128px;
  left: -48px;
  mix-blend-mode: multiply;
}

.service-features article:nth-child(even) .image .shape {
  width: 95px;
  height: 97px;
  background-color: #f58a07;
  border-radius: 20px;
  position: absolute;
  top: 272px;
  right: -48px;
  mix-blend-mode: multiply;
}

.service-features article:first-child .image {
  background: url('../images/services-feature-1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.service-features article:nth-child(2) .image {
  background: url('../images/services-feature-2.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.service-features article:nth-child(3) .image {
  background: url('../images/services-feature-3.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.service-features article:nth-child(4) .image {
  background: url('../images/services-feature-4.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.service-features article:last-child .image {
  background: url('../images/services-feature-5.png');
  background-repeat: no-repeat;
  background-size: cover;
}
