@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #1d3444;
}

a {
  text-decoration: none;
  color: #1d3444;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
}

.primary-button {
  background-color: #f58a07;
  padding: 18px 32px;
  border-radius: 27px;
}

.primary-button a {
  color: white;
  font-weight: 600;
}

.secondary-button {
  background-color: white;
  border-radius: 31px;
  padding: 18px 32px;
}

.secondary-button a {
  color: #f58a07;
  font-weight: 600;
}

.bg-button {
  padding: 18px 32px;
}

.bg-button a {
  font-weight: 600;
}

/* Header Styles */

header {
  height: 84px;
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .logo {
  color: #063255;
  font-size: 1.5rem;
  font-weight: 700;
}

header .container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

header .container nav ul {
  list-style: none;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header .container nav ul li a {
  font-weight: 600;
  line-height: 24px;
  color: #394149;
}

header .container nav .nav-button {
  background-color: rgba(245, 138, 7, 0.1);
  padding: 15px 25px;
  border-radius: 30px;
}

header .container nav .nav-button a {
  font-weight: 600;
  color: #f58a07;
}

/* Hero Section Styles */
.hero {
  width: 100%;
  background-color: #dceaf5;
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero .content {
  width: 48%;
}

.hero .content h2 {
  font-size: 4rem;
  line-height: 72px;
  letter-spacing: -0.03em;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 0;
}

.hero .content p {
  color: #5b5b5b;
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 500;
  line-height: 30px;
  font-size: 18px;
}

.hero .content .buttons {
  display: flex;
  width: 65%;
  justify-content: space-between;
  margin-bottom: 55px;
}

.hero .content .logos .logo-title {
  font-weight: 400;
  font-size: 1.125rem;
  color: #394149;
  opacity: 0.5;
  margin-bottom: 18px;
}

.hero .content .logos img {
  margin-right: 45px;
}

.hero .image {
  width: 52%;
  align-self: end;
}

.hero .image img {
  width: 100%;
  margin-bottom: -6px;
}

/* Help Section Styles */
.help {
  padding: 96px 0;
}

.help .container h2 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.help .container p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 30px;
  color: #5b5b5b;
  width: 55%;
  margin-top: 27px;
  margin-bottom: 60px;
}

.help .container .articles {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.help .container .articles article {
  width: 31%;
}


.help .container .articles article img {
  width: 100%;
  border-radius: 20px;
}

.help .container .articles article h3 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 25.56px;
  letter-spacing: -0.03em;
  margin-top: 33px;
  margin-bottom: 17px;
}

.help .container .articles article p {
  font-weight: 500;
  line-height: 28px;
  color: #5b5b5b;
  margin-top: 0;
  margin-bottom: 24px;
  width: 100%;
}

.help .container .articles article a {
  font-weight: 500;
  line-height: 17px;
  color: #f58a07;
}

.help .container .articles article a::after {
  content: "\2192";
  margin-left: 8px;
}



/* Feature Section Styles */
.feature {
  background-color: #edf7ff;
  padding: 96px 0;
}


.feature .titles {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.feature .titles h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.03em;
  width: 46%;
  margin-top: 0;
  margin-bottom: 0;
}

.feature .titles p {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.feature .feature-cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.feature .feature-cards .card {
  background-color: white;
  border-radius: 20px;
  width: 31%;
  padding: 35px;
}


.feature .feature-cards .card h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.03em;
}

.feature .feature-cards .card p {
  font-weight: 500;
  line-height: 28px;
}



/* About Section Styles */
.about {
  padding: 96px 0;
}

.about .container {
  display: flex;
  justify-content: space-between;
  /* margin: 96px auto;  */
}

.about .container .text{
  width: 47%;
}

.about .container .image {
  background: url('../images/about-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  width: 47%;
  height: 670px;
}

.about .container .image .overlay {
  background-color: #F58A07;
  mix-blend-mode: multiply;
  height: 100%;
  width: 25%;
  border-radius: 20px 0 0 20px;
}


.about .container .text h2 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  margin-top: 67px;
  margin-bottom: 32px;
}

.about .container .text p {
  width: 86%;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #5b5b5b;
  margin-bottom: 48px;
  margin-top: 0;
}

.about .container .text .about-features {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.about .container .text .about-features article {
  width: 45%;
}

.about .container .text .about-features article h2 {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: #f58a07;
}

.about .container .text .about-features article h3 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.03em;
}

.about .container .text .about-features article p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 28px;
  color: #5b5b5b;
  width: 100%;
}



/* Service Section Styles */
.service {
  padding-bottom: 128px;
}

.service .container{
  background-color: #edf7ff;
  border-radius: 20px;
  padding: 48px;
  position: relative;
}

.service .container .ribbon {
  position: absolute;
  top: -15px;
  right: -15px;
}

.service .container .tabs {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-bottom: 80px;
}

.service .container .tabs .tab {
  padding: 8px 24px;
  border: 1px solid #A8BCCC;
  border-radius: 31px;
  color: rgba(6, 50, 85, .3);
  font-weight: 600;
  line-height: 24px;
}

.service .container .tabs .active {
  color: #F58A07;
  background-color: white;
  border: none;
}

.service .container .content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.service .container .content .text,
.service .container .content .image {
  width: 45%;
}

.service .container .content .text h2 {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 3rem;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
}

.service .container .content .text p {
  margin-top: 0;
  margin-bottom: 40px;
  color: #5b5b5b;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  width: 95%;
}

.service .container .content .text a {
  color: #F58A07;
  font-weight: 500;
}

.service .container .content .text a::after {
  content: '\2192';
  margin-left: 8px;
}

.service .container .content .image  {
  background: url('../images/team.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 472px;
  border-radius: 20px;
}

.service .container .content .image .overlay {
  width: 25%;
  height: 100%;
  background-color: #F58A07;
  mix-blend-mode: multiply;
  border-radius: 20px 0 0 20px;
}

/* CTA Section Styles */
.cta {
  display: flex;
}

.cta .image {
  width: 50%;
  background: url('../images/experience-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 530px;
}

.cta .text {
  width: 50%;
  padding: 128px;
  background-color: #F58A07;
}

.cta .text h2 {
  margin-top: 0;
  margin-bottom: 40px;
  color: white;
  font-size: 3rem;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  width: 95%;
}

.cta .text .secondary-button {
  display: inline-block;
}



/* Video Section Styles */
.video {
  padding: 128px 0;
}

.video .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video .container .text,
.video .container .image {
  width: 47%;
}

.video .container .text h2 {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 3rem;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  width: 90%;
}

.video .container .text p {
  margin-top: 0;
  margin-bottom: 40px;
  color: #5b5b5b;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  width: 92%;
}

.video .container .text .profile {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.video .container .text .profile .profile-image {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #063255;
}

.video .container .text .profile .titles {
  width: 60%;
  padding: 6px 0;
}

.video .container .text .profile .titles h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 500;
  color: #063255;
}

.video .container .text .profile .titles p {
  margin-bottom: 0;
  color: #F58A07;
  font-weight: 500;
  font-size: 18px;
}

.video .container .image {
  background: url('../images/video-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  height: 500px;
  display: flex;
  align-items: end;
  padding: 0 0 40px 40px;
}

.video .container .image .play-icon {
  background-color: white;
  width: 51px;
  height: 51px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video .container .image .play-icon img {
  width: 17px;
  height: 17px;
}

/* Blog Section Styles */
.blog {
  background-color: #edf7ff;
  padding: 96px 0;
}

.blog .container h2 {
  margin-top: 0;
  margin-bottom: 64px;
  font-size: 3rem;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
}

.blog .container .articles {
  display: flex;
  justify-content: space-between;
}

.blog .container .articles article {
  background-color: white;
  border-radius: 20px;
  width: 31%;
}

.blog .container .articles article .content {
  padding: 32px;
}

.blog .container .articles article img {
  border-radius: 20px 20px 0 0;
  width: 100%;
}

.blog .container .articles article h3 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.03em;
}

.blog .container .articles article p {
  margin-top: 0;
  margin-bottom: 24px;
  color: #5b5b5b;
  font-weight: 500;
  line-height: 28px;
}

.blog .container .articles article a {
  color: #F58A07;
  font-weight: 500;
}

.blog .container .articles article a::after {
  content: '\2192';
  margin-left: 8px;
}

/* Footer Styles */
footer {
  background-color: #063255;
  color: white;
  padding: 80px 0;
  position: relative;
}

footer .shape-1 {
  width: 53px;
  height: 287px;
  background-color: #F58A07;
  border-radius: 20px 0 0 20px;
  position: absolute;
  top: 38px;
  right: 0;
}

footer .shape-2 {
  width: 53px;
  height: 144px;
  background-color: #F58A07;
  border-radius: 0 20px 0 0;
  position: absolute;
  left: 0;
  bottom: 0;  
}

footer .container .top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 80px;
}

footer .container .top .left {
  width: 33%;
}

footer .container .top .subscribe {
  width: 25%;
}

footer .container .top .company,
footer .container .top .connect {
  width: 18%;
}

footer .container .top .left h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 32px;
}

footer .container .top .left h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.03em;
  margin-top: 0;
  margin-bottom: 32px;
}

footer .container .top .left .socials img {
  width: 20px;
  height: 20px;
  margin-right: 18px;
}

footer .container .top .company h3 {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 600;
}

footer .container .top .company ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

footer .container .top .company ul li {
  margin-bottom: 16px;
}

footer .container .top .company ul li:last-child {
  margin-bottom: 0;
}

footer .container .top .company ul li a {
  color: white;
  font-weight: 500;
}

footer .container .top .connect h3 {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 600;
}

footer .container .top .connect ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

footer .container .top .connect ul li {
  margin-bottom: 16px;
}

footer .container .top .connect ul li:last-child {
  margin-bottom: 0;
}

footer .container .top .connect ul li a {
  font-weight: 500;
}

footer .container .top .subscribe h3 {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 600;
}

footer .container .top .subscribe input {
  width: 100%;
  border-radius: 31px;
  padding: 18px 32px;
  margin-bottom: 16px;
}

footer .container .top .subscribe input::placeholder {
  color: #9C9C9C;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

footer .container .top .subscribe .primary-button {
  display: inline-block;
}

footer .container .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .container .bottom p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

footer .container .bottom ul {
  list-style: none;
  width: 25%;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

footer .container .bottom ul li a {
  color: white;
}

/* Careers Page Styles */

/* Header Section Styles */
.careers-header {
  padding-top: 110px;
  padding-bottom: 127px;
}

.careers-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.careers-header .container .text {
  width: 50%;
}

.careers-header .container .text h2 {
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -0.03em;
  margin-top: 0;
  margin-bottom: 24px;
}

.careers-header .container .text p {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #5b5b5b;
  margin-top: 0;
  margin-bottom: 24px;
}

.careers-header .container .text .primary-button {
  display: inline-block;
}

.careers-header .container .image {
  width: 47%;
  height: 650px;
  background: url('../images/career-header.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  background-position: center;
}

.careers-header .container .image .overlay {
  width: 25%;
  height: 100%;
  background-color: #F58A07;
  border-radius: 20px 0 0 20px;
  mix-blend-mode: multiply;
}

/* Careers Section Styles */
.careers {
  padding-bottom: 128px;
}

.careers .container h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  margin-top: 0;
  margin-bottom: 64px;
}

.careers .container .positions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}



.careers .container .positions article {
  width: 31%;
  background-color: rgba(193, 228, 255, 0.3);
  border-radius: 20px;
  margin-bottom: 40px;
  padding: 32px 40px;
}



.careers .container .positions article h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.03em;
  margin-top: 0;
  margin-bottom: 8px;
}

.careers .container .positions article p {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: #394149;
  opacity: .6;
  margin-top: 0;
  margin-bottom: 32px;
}

.careers .container .positions article > a {
  font-size: 18px;
  font-weight: 400;
  line-height: 19px;
  color: #F58A07;
}

/* Services Page Styles */

/* Services Header Styles */

.services-header {
  padding-top: 108px;
  padding-bottom: 90px;
}

.services-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services-header .container .text {
  width: 50%;
}

.services-header .container .text h2 {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -0.03em;
}

.services-header .container .text p {
  margin-top: 0;
  margin-bottom: 32px;
  color: #5b5b5b;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  width: 90%;
}

.services-header .container .text .primary-button {
  display: inline-block;
}

.services-header .container .image {
  width: 50%;
  background: url('../images/services-header.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  border-radius: 20px;
}

.services-header .container .image .overlay {
  background-color: #F58A07;
  width: 25%;
  height: 100%;
  border-radius: 20px 0 0 20px;
  mix-blend-mode: multiply;
}

/* Service Feature Styles */
.service-features .container article {
  margin-bottom: 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-features .container article .text,
.service-features .container article .image {
  width: 48%;
}

.service-features .container article .image{
  height: 550px;
  border-radius: 20px;
  position: relative;
}

.service-features .container article:last-child {
  margin-bottom: 0;
}

.service-features .container article .text h2 {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
}

.service-features .container article .text p {
  margin-top: 0;
  margin-bottom: 24px;
  color: #5b5b5b;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  width: 90%;
}

.service-features .container article .text ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.service-features .container article .text ul li {
  margin-bottom: 8px;
  color: #5B5B5B;
  font-weight: 500;
  line-height: 28px;
}

.service-features .container article:nth-child(odd) .image .shape {
  width: 95px;
  height: 97px;
  background-color: #F58A07;
  border-radius: 20px;
  position: absolute;
  top: 128px;
  left: -48px;
  mix-blend-mode: multiply;
}

.service-features .container article:nth-child(even) .image .shape {
  width: 95px;
  height: 97px;
  background-color: #F58A07;
  border-radius: 20px;
  position: absolute;
  top: 272px;
  right: -48px;
  mix-blend-mode: multiply;
}

.service-features .container article:first-child .image {
  background: url('../images/services-feature-1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.service-features .container article:nth-child(2) .image {
  background: url('../images/services-feature-2.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.service-features .container article:nth-child(3) .image {
  background: url('../images/services-feature-3.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.service-features .container article:nth-child(4) .image {
  background: url('../images/services-feature-4.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.service-features .container article:last-child .image {
  background: url('../images/services-feature-5.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Blog Page Styles */

/* Blog Header Styles */
.blog-header {
  padding: 128px 0;
  background: #DCEAF5;
}

.blog-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-header .container .text {
  width: 50%;
}

.blog-header .container .text .author {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.blog-header .container .text .author .author-info {
  width: 37%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-header .container .text .author .author-info .author-image {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #063255;
}

.blog-header .container .text .author h4 {
  margin-top: 0;
  margin-bottom: 0;
  color: #394149;
  opacity: .87;
  line-height: 32px;
  font-weight: 400;
}

.blog-header .container .text h2 {
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -0.03em;
  margin-top: 0;
  margin-bottom: 24px;
  width: 90%;
}

.blog-header .container .text p {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #5B5B5B;
  margin-top: 0;
  margin-bottom: 24px;
  width: 90%;
}

.blog-header .container .text a {
  font-weight: 500;
  color: #F58A07;
}

.blog-header .container .text a::after {
  content: '\2192';
  margin-left: 8px;
}

.blog-header .container .image {  
  width: 50%;
  height: 495px;
  background: url('../images/blog-head.png');
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}



/* Posts Section Styles */
.posts {
  padding: 128px 0;
}

.posts .container h2 {
  margin-top: 0;
  margin-bottom: 64px;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
}

.posts .container .articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.posts .container .articles article {
  width: 31%;
  background-color: #edf7ff;
  border-radius: 20px;
  margin-bottom: 40px;
}


.posts .container .articles article img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.posts .container .articles article .content {
  padding: 32px;
}

.posts .container .articles article .content h3 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.03em;
}

.posts .container .articles article .content p {
  margin-top: 0;
  margin-bottom: 24px;
  color: #5b5b5b;
  font-weight: 500;
  line-height: 28px;
}

.posts .container .articles article .content a {
  color: #F58A07;
  font-weight: 500;
}

.posts .container .articles article .content a::after {
  content: '\2192';
  margin-left: 8px;
}

/* Blog Inner Page Styles */

.post-inner {
  margin: 110px 0;
}

.post-inner .container img {
  width: 100%;
  border-radius: 20px;
}

.post-inner .container .content {
  padding: 0 264px;
}

.post-inner .container .content .author {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}

.post-inner .container .content .author .author-info {
  width: 37%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-inner .container .content .author .author-info .author-image {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #063255;
}

.post-inner .container .content .author h4 {
  margin-top: 0;
  margin-bottom: 0;
  color: #394149;
  opacity: .87;
  line-height: 32px;
  font-weight: 400;
}

.post-inner .container .content h2 {
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -0.03em;
  margin-top: 24px;
  margin-bottom: 32px;
}

.post-inner .container .content h3 {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  color: #0D1317;
}

.post-inner .container .content p {
  margin-top: 0;
  margin-bottom: 24px;
  color: #5B5B5B;
  font-weight: 500;
  line-height: 28px;
}

/* Career Inner Page Styles */

/* Header Styles */
.career-header {
  margin-top: 108px;
  margin-bottom: 64px;
}

.career-header .container {
  width: 100%;
}

.career-header .container h2 {
  margin-top: 0;
  margin-bottom: 64px;
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -0.03em;
}

.career-header .container .job-desc {
  display: flex;
  justify-content: space-between;
}

.career-header .container .job-desc .job-left {
  width: 60%;
}

.career-header .container .job-desc .job-right {
  width: 30%;
}

.career-header .container .job-desc h4 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.03em;
}

.career-header .container .job-desc p {
  margin-top: 0;
  margin-bottom: 0;
  color: #5B5B5B;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  width: 84%;
}

/* Career Details */
.career-details .container {
  background-color: rgba(193, 228, 255, 0.3);
  border-radius: 20px;
  padding: 68px 150px 68px 68px;
  display: flex;
  justify-content: space-between;
}

.career-details .container ul {
  margin-top: 4px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  width: 30%;
}

.career-details .container ul li {
  margin-bottom: 40px;
  color: #0D1317;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.03em;
}

.career-details .container ul .active {
  color: #F58A07;
  font-weight: 600;
  line-height: 26px;
}

.career-details .container .details {
  width: 90%;
}

.career-details .container .details p {
  color: #5B5B5B;
  font-weight: 500;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 0;
}

/* Apply Section Styles */
.apply {
  padding: 128px 0;
}

.apply .container h2 {
  margin-top: 0;
  margin-bottom: 51px;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  color: #0D1317;
}