@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #1d3444;
}

a {
  text-decoration: none;
  color: #1d3444;
}

.container {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: auto;
}

.primary-button {
  background-color: #f58a07;
  padding: 18px 32px;
  border-radius: 27px;
}

.primary-button a {
  color: white;
  font-weight: 600;
}

.bg-button {
  padding: 18px 32px;
}

.bg-button a {
  font-weight: 600;
}

/* Header Styles */

header {
  height: 84px;
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: #063255;
  font-size: 1.5rem;
  font-weight: 600;
}

header .container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

header .container nav ul {
  list-style: none;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header .container nav ul li a {
  font-weight: 500;
}

header .container nav .nav-button {
  background-color: rgba(245, 138, 7, 0.1);
  padding: 15px 25px;
  border-radius: 30px;
}

header .container nav .nav-button a {
  font-weight: 500;
  color: #f58a07;
}

/* Hero Section Styles */
.hero-section {
  width: 100%;
  background-color: #dceaf5;
}

.hero-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-section .content {
  width: 48%;
}

.hero-section .content h2 {
  font-size: 4rem;
  line-height: 72px;
  letter-spacing: -0.03em;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 0;
}

.hero-section .content p {
  color: #5b5b5b;
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 500;
  line-height: 30px;
  font-size: 18px;
}

.hero-section .content .buttons {
  display: flex;
  width: 65%;
  justify-content: space-between;
  margin-bottom: 55px;
}

.hero-section .content .logos .logo-title {
  font-weight: 400;
  font-size: 1.125rem;
  color: #394149;
  opacity: 0.5;
  margin-bottom: 18px;
}

.hero-section .content .logos img {
  margin-right: 45px;
}

.hero-section .image {
  width: 52%;
  align-self: end;
}

.hero-section .image img {
  width: 100%;
  margin-bottom: -6px;
}

/* Help Section Styles */
.help-section {
  width: 100%;
  padding: 96px 0;
}

.help-section .container h2 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.help-section .container p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 30px;
  color: #5b5b5b;
  width: 55%;
  margin-top: 27px;
  margin-bottom: 60px;
}

.help-section .container .articles {
  display: flex;
  width: 100%;
}

.help-section .container .articles article {
  width: 32%;
  margin-right: 40px;
}

.help-section .container .articles article:last-child {
  margin-right: 0;
}

.help-section .container .articles article img {
  width: 100%;
  border-radius: 20px;
}

.help-section .container .articles article h3 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 25.56px;
  letter-spacing: -0.03em;
  margin-top: 33px;
  margin-bottom: 17px;
}

.help-section .container .articles article p {
  font-weight: 500;
  line-height: 28px;
  color: #5b5b5b;
  margin-top: 0;
  margin-bottom: 24px;
  width: 100%;
}

.help-section .container .articles article a {
  font-weight: 500;
  line-height: 17px;
  color: #f58a07;
}

.help-section .container .articles article a::after {
  content: "\2192";
  margin-left: 8px;
}

/* Feature Section Styles */
.feature-section {
  background-color: #edf7ff;
}

.feature-section .container {
  padding: 96px 0;
}

.feature-section .titles {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* padding-top: 96px; */
  margin-bottom: 64px;
}

.feature-section .titles h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.03em;
  width: 46%;
  margin-top: 0;
  margin-bottom: 0;
}

.feature-section .titles p {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.feature-section .feature-cards {
  display: flex;
  width: 100%;
  /* padding-bottom: 96px; */
}

.feature-section .feature-cards .card {
  background-color: white;
  border-radius: 20px;
  margin-right: 38px;
  width: 33%;
  padding: 35px;
}

.feature-section .feature-cards .card:last-child {
  margin-right: 0;
}

.feature-section .feature-cards .card h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.03em;
}

.feature-section .feature-cards .card p {
  font-weight: 500;
  line-height: 28px;
}

/* About Section Styles */
.about-section {
  padding: 96px 0;
}

.about-section .container {
  display: flex;
  justify-content: space-between;
}

.about-section .container .text,
.about-section .container .image {
  width: 47%;
}

.about-section .container .image img {
  width: 100%;
  border-radius: 20px;
}

.about-section .container .text h2 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  margin-top: 67px;
  margin-bottom: 32px;
}

.about-section .container .text p {
  width: 86%;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #5b5b5b;
  margin-bottom: 48px;
  margin-top: 0;
}

.about-section .container .text .about-features {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.about-section .container .text .about-features .feature {
  width: 45%;
}

.about-section .container .text .about-features .feature h2 {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: #f58a07;
}

.about-section .container .text .about-features .feature h3 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.03em;
}

.about-section .container .text .about-features .feature p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 28px;
  color: #5b5b5b;
  width: 100%;
}
